a {
  text-decoration: none;
  color: #333;
}

main {
  min-height: calc(100vh - 96px);
  background-color: #212529;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.bg-default {
  min-height: calc(100vh - 96px);
  background-color: #212529;
  color: #fff;
}